div{
    width: calc(25% - 30px);
    /*height: 500px;*/
    float:left;
    border: 1px solid red;/* solid dotted dashed*/
    /*
    border-left;
    border-top;
    border-right;
    border-bottom;
     */
    margin:10px 15px 20px 25px;
    /*margin-top
    margin-right
    margin-bottom
    margin-left
     */
    padding: 10px 15px 20px 25px;
    /*padding-top
    padding-right
    padding-bottom
    padding-left
     */
    box-sizing: border-box;
    box-shadow: 10px 10px 5px #ff0000;
    border-radius: 5px;
    transition: all 500ms;
}
div:hover{
    /*transform: rotate(45deg);*/
    transform: scale(1.15);
}
img{
    /*width: 100%;*/
    max-width: 100%;

}
#box-6{
    background-color: deeppink;
}
.box-orange{
    background-color: orange;
}
.box-special{
    color: green;
    background-color: bisque;
}
/*danh sach uu tien*/
body.dp #pid{
    color: aquamarine;
}
#pid{
    color: deepskyblue;
}
.dp.pc{
    color:blue;
}
.pc{
    color:red;
}
body div p{
    color: brown;
}
div p{
    color: blueviolet;
}
p{
    color: black;
}