
div{
    width: 60%;
    font-weight: normal;
    font-size: 12px;
    float:left;
}
img{
    width: 20%;
}
div p.dp{
    font-weight: bold;
    font-size:25px;
}
#CV{
    width: 500px;
}
.title{
    width: 850px;
    border-bottom: 1px solid black;
    float: bottom;
    font-weight: bold;
}
.cp{
    text-decoration: underline;
    font-weight: bold;
}
.time{
    font-weight: bold;
    font-style: italic;
}
